/*
 * Theme: Karma
 */

@import "functions";
@import "variables";
@import "bootstrap";

@import url("https://fonts.googleapis.com/css?family=Merriweather:300,400,700|Raleway:300,400");

@mixin defaultBackground() {
  background: rgba(245, 247, 250, 0.2);
  /* Box Shadow */
  box-shadow: inset 0 0 4px rgba(245, 247, 250, 0.2);
}

html,
body {
  height: 100%;
}

a,
a:link,
a:visited,
a:hover {
  transition: ease-in-out 0.3s;
}

h1, h2, h3, h4, h5 {
  /* Font */
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

body {
  background: url("assets/pexels-photo-360912_blur.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /* Font */
  color: $white;
}

.wrapper {
  background: inherit;
}

.wrapper,
#app {
  height: 100%;
}

.sidebar {
  background: rgba(60, 59, 61, 0.2);
  width: 220px;
  /* Margin & Padding */
  padding: 20px 0 20px 0;
}

@media only screen and (min-width: 768px) {
  .wrapper {
    /* Display */
    display: flex;
    flex-direction: row;
  }

  .sidebar {
    /* Flex */
    flex-shrink: 0;
    /* Box Shadow */
    box-shadow: inset 4px 0 5px -2px rgba(60, 59, 61, 0.1);
  }

  .vert-nav {
    display: block !important;
  }

  .main-content {
    /* Flex */
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 767px) {
  .main-content {
    width: 100%;
  }

  .sidebar {
    width: 100%;
  }

  .vert-nav {
    display: none;
  }
}

.main-content {
  max-height: 100%;
  width: 100%;
  overflow-y: scroll;
  /* Margin & Padding */
  padding-top: 20px;
  padding-bottom: 20px;
}

/*
 * Sidebar
 */
.sidebar .logo {
  overflow: auto;
  /* Font */
  font-weight: 300;
  text-align: center;
  /* Margin & Padding */
  padding: 10px 25px 10px 25px;
}

.sidebar .logo a, .sidebar .logo a:link, .sidebar .logo a:visited, .sidebar .logo a:hover {
  /* Font */
  color: $white;
  text-decoration: none;
}

.sidebar .vert-nav ul {
  list-style: none;
  /* Margin & Padding */
  margin: 0;
  padding: 0;
}

.sidebar .vert-nav ul li a,
.sidebar .vert-nav ul li a:link,
.sidebar .vert-nav ul li a:visited {
  display: block;
  /* Font */
  color: $white;
  text-decoration: none;
  /* Margin & Padding */
  padding: 10px 25px 10px 25px;
}

.sidebar .vert-nav ul li a:hover,
.sidebar .vert-nav ul li a.current,
.sidebar .vert-nav ul li a.current:link,
.sidebar .vert-nav ul li a.current:visited,
.sidebar .vert-nav ul li a.current:hover {
  background: rgba(245, 247, 250, 0.2);
}

.sidebar .vert-nav .heading {
  background: rgba(60, 59, 61, 0.5);
  /* Margin & Padding */
  padding: 10px 25px 10px 25px;
}

.sidebar .vert-nav .profile-heading {
  background: rgba(106, 80, 167, 0.3);
  width: 100%;
  /* Position */
  position: relative;
  /* Font */
  color: $white;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  text-align: left;
  /* Margin & Padding */
  padding: 10px 25px 10px 25px;
  /* Border */
  border: none;
}

/*
 * Inputs
 */
.form-control {
  @include defaultBackground;
  /* Font */
  color: $white;
  /* Border */
  border-width: 0 0 1px 0;
  /* Transition */
  transition: background 0.3s, border 0.3s;
}

.form-control:active,
.form-control:focus {
  @include defaultBackground;
  /* Font */
  color: $white;
  /* Border */
  border-color: #6a50a7;
}

.form-control::placeholder {
  opacity: 1;
  /* Font */
  color: $gray-100;
}

.form-control:-ms-input-placeholder {
  /* Font */
  color: $gray-100;
}

.form-control::-ms-input-placeholder {
  /* Font */
  color: $gray-100;
}

/*
 * List Group
 */
.list-group {
  @include defaultBackground;
}

.list-group .list-group-item {
  background: none;
  /* Border */
  border-color: $gray-100;
}

/*
 * Card
 */
.card {
  @include defaultBackground;
  /* Border */
  border-width: 0;
  /* Margin & Padding */
  margin-bottom: 10px;
}

/*
 * Buttons
 */
.btn {
  /* Border */
  border-width: 0;
  /* Box Shadow */
  box-shadow: 0 0 2px rgba(245, 247, 250, 0.1);
}

.btn-primary {
  background: rgba(59, 175, 218, 0.5);
}

.btn-secondary {
  background: rgba(128, 128, 128, 0.5);
}

.btn-success {
  background:rgba(140, 193, 82, 0.5);
  /* Font */
  color: $white;
}

.btn-info {
  background: rgba(55, 188, 155, 0.5);
}

.btn-warning {
  background: rgba(247, 187, 66, 0.5);
}

.btn-danger {
  background: rgba(218, 68, 83, 0.5);
}

.btn-light {
  background: rgba(245, 247, 250, 0.5);
}

.btn-dark {
  background: rgba(67, 74, 84, 0.5);
}

/*
 * Navbar
 */
.page-toolbar {
  @include defaultBackground;
  /* Margin & Padding */
  padding: 10px;
  margin-bottom: 20px;
}

/*
 * Alerts
 */
.alert {
  /* Font */
  color: $white;
  /* Border */
  border-width: 0;
}

.alert-success {
  background:rgba(140, 193, 82, 0.5);
}

.alert-info {
  background: rgba(55, 188, 155, 0.5);
}

.alert-warning {
  background: rgba(247, 187, 66, 0.5);
}

.alert-danger {
  background: rgba(218, 68, 83, 0.5);
}

/*
 * Table
 */
.table {
  @include defaultBackground;
}

.table.table-hover tr:hover {
  background: rgba(245, 247, 250, 0.2);
}

/*
 * Modal
 */
.modal-content {
  background: rgba(245, 247, 250, 0.8);
  /* Font */
  color: $gray-900;
  /* Border */
  border-width: 0;
}

/*
  * Scrollbar
  */
::-webkit-scrollbar-track {
  border-radius: 2px;
  background-color: transparent;
  /* $gray-200 */
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(101, 109, 120, 0.3);
}

/* A font by Jos Buivenga (exljbris) -> www.exljbris.com */
@font-face {
  font-family: Diavlo;
  src: url("assets/webfonts/diavlo/Diavlo_BOOK_II_37.otf");
}

.diavlo {
  font-family: Diavlo, sans-serif;
}

.merriweather {
  /* Font */
  font-family: "Merriweather", serif;
}

.monaco {
  /* Font */
  font-family: "Monaco", courier, monospace;
}
